* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #4b453d;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.nav-container {
    background-color: #4b453d;
    padding: 24px;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item {
    list-style: none;
}

.list-item img {
    cursor: pointer;
}

.list-anchor {
    padding: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 160px;
    border: none;
}

.wrapper {
    width: 90%;
    background-color: #3333;
    border-radius: 12px;
    overflow: hidden;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-row {
    display: flex;
    justify-content: space-between;
}

.button-item {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #c9b4a0;
    border-radius: 8px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575047;
}

.button-item img {
    margin-right: 8px;
}

.button-item:hover {
    cursor: pointer;
    background: #c9b4a0;
    background: -webkit-linear-gradient(to left, #c9b4a0, #5f3106);
    background: -o-linear-gradient(to left, #c9b4a0, #5f3106);
    background: -moz-linear-gradient(to left, #c9b4a0, #5f3106);
    background: linear-gradient(to left, #c9b4a0, #5f3106);
}

.central-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-top: 240px;
    color: #fff;
}

.central-area img {
    width: 240px;
    margin-bottom: 32px;
}

.central-area p {
    font-size: 14px;
    padding: 16px;
    border: 1px solid #c9b4a0;
    text-align: center;
    cursor: pointer;
}

.salute {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.birthday {
    display: block;
}

.birthday p {
    padding: 8px;
}